.right {
    font-weight: bold;
    background-color: green;
}

.false {
    font-weight: bold;
    background-color: red;
}

.score {
    font-weight: bold;
    background-color: grey;
}

button {
    height: 50px;
    width: 200px;
    color: white;
    background-color: green;
    border-style: double;
    border-color: black;
    margin-top: 50px;
}

.notanswered {
    font-weight: bold;
    background-color: yellow;
}

.notansweredquestion {
    font-weight: bold;
    background-color: orange;
}